version: 2
updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly

  - package-ecosystem: npm
    directory: '/packages/panda-preset'
    schedule:
      interval: weekly

  - package-ecosystem: npm
    directory: '/packages/react'
    schedule:
      interval: weekly
