.DS_Store

node_modules
packages/*/node_modules

packages/*/build
packages/*/.tsup

tsconfig.tsbuildinfo
*/tsconfig.tsbuildinfo
packages/*/tsconfig.tsbuildinfo

styled-system/css
styled-system/jsx
styled-system/patterns
styled-system/recipes
styled-system/tokens
styled-system/types
styled-system/helpers.mjs

## Panda

docs/styled-system
packages/*/styled-system
packages/*/styled-system-studio