.DS_Store

node_modules
packages/*/node_modules
.npmrc

packages/*/build
packages/*/.tsup

tsconfig.tsbuildinfo
*/tsconfig.tsbuildinfo
packages/*/tsconfig.tsbuildinfo

packages/styled-system/css
packages/styled-system/jsx
packages/styled-system/patterns
packages/styled-system/recipes
packages/styled-system/tokens
packages/styled-system/types
packages/styled-system/helpers.mjs

## Panda

docs/styled-system
packages/*/styled-system
packages/*/styled-system-studio

## Figma

figma/.env
figma/src/generated