@layer reset, base, tokens, recipes, utilities;

/* For some reason, this doesn't work in PandaCSS */

::selection {
  background: var(--cerberus-colors-info-surface-200);
  color: var(--cerberus-colors-page-text-inverse);
}

/* Living Backgrounds */

.living-canvas {
  background-color: var(--cerberus-colors-page-surface-initial);
  bottom: 0;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -10;
}

/* Expressive Code - mdx code-blocks */

:is(.expressive-code > .has-title > .header) {
  position: sticky;
  top: 0;
  z-index: var(--cerberus-z-index-sticky);
}

:is(li > code),
:is(p > code) {
  background-color: var(--shiki-background);
  border-radius: 4px;
  color: var(--shiki-token-keyword);
  letter-spacing: 0.01em;
  padding-inline: 0.3rem;
  padding-block: 0.2rem;
  font-size: 0.875rem;
}

/* Skiki CSS - React Code elements (i.e. not markdown) */

.shiki {
  font-family: var(--font-mono);
  font-size: 0.8rem;
}

.shiki code {
  display: block;
  padding-block: 1rem;
  padding-inline: 2rem;
  width: 100%;
}

.shiki .highlighted-word {
  border: 1px solid var(--cerberus-colors-page-border-initial);
  padding: 1px 3px;
  margin: -1px -3px;
  border-radius: 4px;
}

.shiki .indent {
  display: inline-block;
  position: relative;
  left: var(--indent-offset);
}

.shiki .indent:empty {
  height: 1lh;
  vertical-align: bottom;
}

.shiki .indent::before {
  content: '';
  position: absolute;
  opacity: 0.15;
  width: 1px;
  height: 100%;
  background-color: currentColor;
}

figcaption[data-rehype-pretty-code-title] {
  color: var(--cerberus-colors-page-text-100);
  border-bottom: 1px solid var(--cerberus-colors-page-border-initial);
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  font-family: 'Recursive';
  font-size: 0.875rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}
