@layer reset, base, tokens, recipes, utilities;

/* For some reason, this doesn't work in PandaCSS */

::selection {
  background: var(--cerberus-colors-info-surface-200);
  color: var(--cerberus-colors-page-text-inverse);
}

/* Code blocks */

div.expressive-code {
  padding-bottom: var(--cerberus-spacing-lg);
}

/* Skiki CSS for React Code elements (i.e. not markdown) */

.shiki {
  border-radius: var(--cerberus-radii-md);
  padding-bottom: var(--cerberus-spacing-md);
  padding-inline: var(--cerberus-spacing-lg);
  padding-top: var(--cerberus-spacing-md);
}

[data-theme='min-light'] .shiki,
[data-theme='min-light'] .shiki span {
  background-color: var(--shiki-min-light-bg) !important;
  color: var(--shiki-min-light) !important;
  font-size: 13.6px !important;
  font-style: var(--shiki-min-light-font-style) !important;
  font-weight: var(--shiki-min-light-font-weight) !important;
  text-decoration: var(--shiki-min-light-text-decoration) !important;
}

[data-theme='night-owl'] .shiki,
[data-theme='night-owl'] .shiki span {
  background-color: var(--shiki-night-owl-bg) !important;
  color: var(--shiki-night-owl) !important;
  font-size: 13.6px !important;
  font-style: var(--shiki-night-owl-font-style) !important;
  font-weight: var(--shiki-night-owl-font-weight) !important;
  text-decoration: var(--shiki-night-owl-text-decoration) !important;
}

[data-theme='everforest-light'] .shiki,
[data-theme='everforest-light'] .shiki span {
  background-color: var(--shiki-everforest-light-bg) !important;
  color: var(--shiki-everforest-light) !important;
  font-size: 13.6px !important;
  font-style: var(--shiki-everforest-light-font-style) !important;
  font-weight: var(--shiki-everforest-light-font-weight) !important;
  text-decoration: var(--shiki-everforest-light-text-decoration) !important;
}

[data-theme='everforest-dark'] .shiki,
[data-theme='everforest-dark'] .shiki span {
  background-color: var(--shiki-everforest-dark-bg) !important;
  color: var(--shiki-everforest-dark) !important;
  font-size: 13.6px !important;
  font-style: var(--shiki-everforest-dark-font-style) !important;
  font-weight: var(--shiki-everforest-dark-font-weight) !important;
  text-decoration: var(--shiki-everforest-dark-text-decoration) !important;
}
