@layer reset, base, tokens, recipes, utilities;

/* For some reason, this doesn't work in PandaCSS */

::selection {
  background: var(--cerberus-colors-info-surface-200);
  color: var(--cerberus-colors-page-text-inverse);
}

/* Expressive Code - mdx code-blocks */

:is(.expressive-code > .has-title > .header) {
  position: sticky;
  top: 0;
  z-index: var(--cerberus-z-index-sticky);
}

/* Skiki CSS - React Code elements (i.e. not markdown) */

.shiki {
  font-family: var(--font-mono);
  font-size: 0.8rem;
}
